@using Ren.CMS.Helpers
@using Ren.CMS.CORE.Language.LanguageDefaults

@{
    
    LanguageDefaultsContentTags TagLang = new LanguageDefaultsContentTags();
    LanguageDefaultsShared  SharedLang = new LanguageDefaultsShared();
    
    }

<script type="text/javascript">
    $(function () {


        $('#@Html.ProtectID("close_help")').click(function () {

            $('#@Html.ProtectID("helper_text")').slideUp(function () {



                $('#@Html.ProtectID("helper_start")').slideDown();

            });
                


        });

        $('#@Html.ProtectID("helper_start")').click(function () {


            $(this).slideUp(function () {



                $('#@Html.ProtectID("helper_text")').slideDown();

            });


        });


    });


   

</script>

<style type="text/css">


    .@Html.ProtectID("tagx")
    {

        width:100%;
        float:left;
        clear:both;
        border: 1px solid #bba;
        background: #CCC;
        cursor:pointer;
        
    }

       .@Html.ProtectID("tagx"):hover
    {

        width:100%;
        float:left;
        clear:both;
        border: 1px solid #A0A;
        background: #EEE;
        cursor:pointer;
        
    }
    #@Html.ProtectID("tagCreater")
    {
    
       width:100%;
       float:left;
       clear:both;
    display:none;
    
    }

    #@Html.ProtectID("tagList")
    {
        margin-top:10px;
        width:100%;
        float:left;
        clear:both;
        
    }

    #@Html.ProtectID("menu")
    {
        width:100%;
    float:left;
    clear:both;
    
    
    }
</style>
<script>

</script>

<div id="test">


</div>
@{
    //Create Forms

    
    //Create Tag
    Ren.CMS.Models.Backend.Content.ContentTagFormDialog CreateTag = new Ren.CMS.Models.Backend.Content.ContentTagFormDialog();
    CreateTag.elID = ("create_tag");
    CreateTag.method = "POST";
    CreateTag.url = "/BackendHandler/Content/CreateTag";
    CreateTag.title = Html.LanguageLine("C_TAGS_CREATE", "CONTENT_TAGS", TagLang.C_TAGS_CREATE).ToString();
    CreateTag.gridID = Html.ProtectID("tag_list");
    
    
    Ren.CMS.Models.Backend.Content.ContentTagFormDialog EditTag = new Ren.CMS.Models.Backend.Content.ContentTagFormDialog();
    EditTag.elID = ("edit_tag");
    EditTag.method = "POST";
    EditTag.url = "/BackendHandler/Content/EditTag";
    EditTag.title = Html.LanguageLine("C_TAGS_EDIT", "CONTENT_TAGS", TagLang.C_TAGS_EDIT).ToString();
    EditTag.gridID = Html.ProtectID("tag_list");
    Html.RenderPartial("~/Views/Backend/widgets/CONTENT_TAGS/tag_formdialog.cshtml", CreateTag);
    Html.RenderPartial("~/Views/Backend/widgets/CONTENT_TAGS/tag_formdialog.cshtml", EditTag);
    
    }

<div class="ui-widget">
	<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
		<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
		 <a href="javascript: void(0)" id="@Html.ProtectID("helper_start")">

             @Html.LanguageLine("LANG_SHARED_CLICK_HERE_FOR_INFO", "Root", SharedLang.LANG_SHARED_CLICK_HERE_FOR_INFO);


		 </a>
         

        <span id="@Html.ProtectID("helper_text")" style="display:none">

       

@Html.LanguageLine("LANG_CT_TAGS_HELPTEXT", "CONTENT_TAGS",TagLang.LANG_CT_TAGS_HELPTEXT);


            <a href="javascript:void(0)" id="@Html.ProtectID("close_help")">

                
             @Html.LanguageLine("LANG_SHARED_HIDE_HELP", "Root", SharedLang.LANG_SHARED_HIDE_HELP);


            </a>
        </span>



		</p>
	</div>
</div> 

 
<div id="@Html.ProtectID("info")" style="font-size:10px !important;"></div>
<table style="margin-top:9px;" id="@Html.ProtectID("tag_list")">


  


</table>
<div id="@Html.ProtectID("delete_tag")">

    @Html.LanguageLine("LANG_CT_TAGS_DELETE_MSG", "CONTENT_TAGS",TagLang.LANG_CT_TAGS_DELETE_MSG)

</div>
<script type="text/javascript">
    $(function(){
        $('#@Html.ProtectID("delete_tag")').dialog({
            autoOpen: false, modal: true,
            buttons: {

                "@Html.LanguageLine("LANG_SHARED_YES", "ROOT", SharedLang.LANG_SHARED_YES)": function () {
                    var idEl = $("#@Html.ProtectID("tag_list")").flexReturnSelected();
                    var id = idEl.toString().substring(3);
                    var self = this;
                    $.post("/BackendHandler/Content/DeleteTag", { id: id }, function (data) {
                        if (data.success == true) {
                            $("#@Html.ProtectID("tag_list")").flexReload();

                            var infoTitle = '@Html.LanguageLine("LANG_SHARED_SUCCESS", "Root", SharedLang.LANG_SHARED_SUCCESS)';
                            var infoText = '@Html.LanguageLine("LANG_CONTENT_TAGS_ERROR_DELETE_SUCC", "CONTENT_TAGS", TagLang.LANG_CONTENT_TAGS_ERROR_DELETE_SUCC)';

                            $('#@Html.ProtectID("info")').msgWidget('info', infoTitle, infoText, 'top');
                            $(this).dialog("close");
                        }
                        else {
                            var errorTitle = '@Html.LanguageLine("LANG_SHARED_ERROR", "Root", SharedLang.LANG_SHARED_ERROR)';
                            var errorText = '@Html.LanguageLine("LANG_CONTENT_TAGS_ERROR_DELETE_FAILED", "CONTENT_TAGS", TagLang.LANG_CONTENT_TAGS_ERROR_DELETE_FAILED)';
                            if (data.message) {
                                if (data.message != '')
                                    errorText = data.message;
                            }
                            $(self).msgWidget('error', errorTitle, errorText, 'top');

                        }
                        $(this).dialog("close");

                    }, 'json');

                    $(this).dialog("close");
                },
                "@Html.LanguageLine("LANG_SHARED_NO", "ROOT", SharedLang.LANG_SHARED_NO)": function () {

                    $(this).dialog("close");
                }
            }
        });
        $("#@Html.ProtectID("tag_list")").flexigrid({
            url: '/BackendHandler/Content/GetTags',
            dataType: 'json',
            colModel: [
                { display: '@Html.LanguageLine("LANG_CT_GRID_CONTENTTYPE","CONTENT_TAGS", TagLang.LANG_CT_GRID_CONTENTTYPE)', name: 'contentType', width: 180, sortable: true, align: 'center' },
                { display: '@Html.LanguageLine("LANG_CT_GRID_TAGNAME","CONTENT_TAGS",TagLang.LANG_CT_GRID_TAGNAME)', name: 'tagName', width: 180, sortable: true, align: 'left' },
                { display: '@Html.LanguageLine("LANG_CT_GRID_BROWSING","CONTENT_TAGS", TagLang.LANG_CT_GRID_BROWSING)', name: 'enableBrowsing', width: 80, sortable: true, align: 'left' }
            ],
            buttons: [
                { name: '@Html.LanguageLine("LANG_SHARED_ADD","Root", SharedLang.LANG_SHARED_ADD)', bclass: 'ui-icon-plus', onpress: function(){
                
                
                    $('#@Html.ProtectID("create_tag")').formDialog("open");
                
                        }
                
                
                    },
                {
                    name: '@Html.LanguageLine("LANG_SHARED_EDIT","Root", SharedLang.LANG_SHARED_EDIT)', bclass: 'ui-icon-pencil', onpress: function () {
                        var idEl = $("#@Html.ProtectID("tag_list")").flexReturnSelected();
                        var id = idEl.toString().substring(3);
                        $.post("/BackendHandler/Content/GetTagData", { id: id }, function (data) {

                            //Setting Value
                            for (key in data)
                            {
                                $('#@Html.ProtectID("edit_tag")').formDialog('setValue', key, data[key]);
                                
                            }

                            $('#@Html.ProtectID("edit_tag")').dialog("open");
                            console.log("@Html.ProtectID("edit_tag")");

                        });


                    }
                },
                {
                    name: '@Html.LanguageLine("LANG_SHARED_DELETE","Root", SharedLang.LANG_SHARED_DELETE)', bclass: 'ui-icon-trash', onpress: function () {


                        $('#@Html.ProtectID("delete_tag")').dialog("open");


                    }
                },
                { separator: true }
            ],
            searchitems: [
 
                { display: '@Html.LanguageLine("LANG_CT_GRID_TAGNAME","CONTENT_TAGS", TagLang.LANG_CT_GRID_TAGNAME)', name: 'name', isdefault: true }
            ],
            sortname: "tagName",
            sortorder: "asc",
            usepager: true,
            title: '@Html.LanguageLine("LANG_CT_GRID_TITLE","CONTENT_TAGS", TagLang.LANG_CT_GRID_TITLE)',
            useRp: true,
            rp: 15,
            showTableToggleBtn: true,
            width: '100%',
            singleSelect: true,
            height: 'auto'
        });
        $('#@Html.ProtectID("tag_list")').flexReload();
    });

</script> 