@if(Request.IsAuthenticated) {
    <text><div class="userUnderText floatRight">Willkommen, <strong>@User.Identity.Name</strong>!
    [ @Html.ActionLink("Abmelden", "LogOff", "Account") ]</div> 
    <div class="loginBottomText floatRight">
    
    @Html.ActionLink("Mein Benutzerkonto","Index","Account")
    &nbsp;
    @Html.ActionLink("Mein Profil","Profile","Account")


    </div>
    
    </text>
}
else {


    Html.BeginForm("LogOn", "Account");
    
    
    <input type="text" name="username" id="username" class="loginUser" />
    
    <input type="password" name="Password"  id="Password" class="loginPwd" />
    <input type="SUBMIT" class="btnOK" style="float:left" />
   
    
    Html.EndForm();
   <div class="loginUnderText">
   
    @Html.ActionLink("Jetzt registrieren und alle Vorteile nutzen!", "Register", "Account");
   
   </div> 
    <div class="loginBottomText">
    
    @Html.ActionLink("Passwort vergessen?", "Forgot_Pwd", "Account");
    &nbsp;
    @Html.ActionLink("Nutzungsbedingungen", "Termsofuse", "Home");
    
    
    </div>
    
    
}
