@model Ren.CMS.Models.Core.nContentPostModel
@using Ren.CMS.CORE.Helper

@{
 
    var langcodes = (List<Ren.CMS.Persistence.Domain.LangCode>)ViewData["LangCodes"];
    string active = Ren.CMS.CORE.Helper.CurrentLanguageHelper.DefaultLanguage;
    
    if(!langcodes.Any(e => e.Code == active) && langcodes.Count > 0)
    {
        active = langcodes.First().Code;
    
    }    
    int i = 0;
    
   
    
    }


 <fieldset>

     <legend>Hauptdaten</legend>



  

<ul class="nav nav-tabs" id="@Html.ProtectID("Genral_Language")">
    @foreach(var l in langcodes)
    {
    <li class="@(l.Code == active ? "active" : "")"><a href="#@Html.ProtectID(l.Code + "General")" data-toggle="tab">@l.Name</a></li>
 
    }

</ul>
    <div id="@Html.ProtectID("Genral_Language")Content" class="tab-content">

@foreach (var l in langcodes)
{
   
     
    if (!Model.Texts.Where(e => e.LangCode == l.Code).First().Active)
    {
        <script>
            $(function () {

               

            });
        </script>
    }
  <div id="@Html.ProtectID(l.Code + "General")" class="tab-pane fade in @(l.Code == active ? "active" : "")">

     
      @Html.HiddenFor(m => m.Texts.Where(e => e.LangCode == l.Code).First().TextID)
      @Html.HiddenFor(m => m.Texts.Where(e => e.LangCode == l.Code).First().LangCode)

     
<table class="tblEditContent">

      <tr title="Hier können Sie einstellen, ob der Artikel in dieser Sprache verfügbar ist. Wenn Sie Aktive ankreuzen benötigen Sie alle Felder.">
        <td>
            <b>Sprache aktiv:</b><br />
            <a href="javascript:void(0)" class="create-content-help">Hilfe?</a>
        </td>
        <td id="title-create-content">
            <div class="">
     <label class="">
     @Html.CheckBoxFor(m => m.Texts.Where(e => e.LangCode == l.Code).First().Active, new { id = Html.ProtectID("textActive"+ l.Code) })
         Ja
     </label>
       <script>

 

       </script>
     </div>
               </td>

    </tr>


    <tr title="Vergeben Sie hier einen Aussagekräftigen Titel. Achten Sie darauf, dass dieser für Suchmaschienen interessant wird wenn der Titel auch im Haupttext, den Suchstichworten, dem Vorschautext und der Meta-Beschreibung vorkommt.">
        <td>
            <b>Titel:</b><br />
            <a href="javascript:void(0)" class="create-content-help">Hilfe?</a>
        </td>
        <td id="title-create-content">
         
            @Html.TextBoxFor(m => m.Texts.Where(e => e.LangCode == l.Code).First().Title)
        </td>

    </tr>
      


             <tr title="Geben Sie hier den Vorschautext an. Dieser bietet Besuchern einen groben Vorgeschmack auf den Hauptinhalt.">
        <td>
            <b>Vorschau Text:</b><br />
            <a href="javascript:void(0)" class="create-content-help">Hilfe?</a>
        </td>
        <td>
          
             @Html.TextBoxFor(m => m.Texts.Where(e => e.LangCode == l.Code).First().PreviewText)

        </td>



    </tr>
    <tr title="Geben Sie hier den Inhalt ein. Dieser wird bei der Detailansicht angezeigt.">

        <td>
            <b>Text:</b><br />
            <a href="javascript:void(0)" class="create-content-help">Hilfe?</a>
        </td>

        <td>
 
     
            @Html.EditorFor(m => m.Texts.Where(e => e.LangCode == l.Code).First().LongText)


        </td>
    </tr>
</table>
    </div>
    i++;
}

</div>

      </fieldset>