@model Ren.CMS.Models.Core.nContentIncludedModel

@{
    
    Ren.CMS.Content.nContent News = Model.Entry;

     News.GenerateLink();
     List<Ren.CMS.Content.nContent.nAttachment> Att = News.Attachments("image", "indeximg");
     
     }
 <div class="listentry">
 <div class="listentry_left">
 @if (Att.Count > 0)
 {
     
 <img src="@Att[0].Path" alt="@News.Title"  border="0"/>
 }
     </div>
 <div class="listentry_right">
  <div class="listentry_top">
 <a href="/News/@News.actionpath">   
 <h2>@News.Title</h2>
 </a>
 </div>
 <div class="listentry_middle">
 
 @Html.ActionLink(News.CreatorName,"u/"+ News.CreatorName,"Profile") &nbsp;|&nbsp;@News.CreationDate.ToString().Substring(0,10) &nbsp;|&nbsp;Kategorie: @News.CategoryName
 </div>
 <div class="listentry_bottom">
 @News.PreviewText
 
 </div>
 </div>
 </div>
 <div class="content_hr"></div>