@model Ren.CMS.Models.HomeModels.ContentBoxModel



<div class="Content-Box clearfix">
    <h2>@Model.HeaderText</h2>
            @if(Model.Contents.Count() > 0)
            {
<!-- First Row -->
<div class="Content-Box-First">

        
            <div class="Content-Box-Image">

                @{
                    var Attachments = Model.Contents.First().Attachments("image","indeximg");

                    string image = "/Content/ren.cms/img/nopic-content.png";
            
                    if(Attachments.Count > 0)
                    {
                image = Attachments.First().Path;
            
            }

            Model.Contents.First().GenerateLink();
            
            }

        <img src="@image" title="@Model.Contents.First().Title" alt="@Attachments.First().Title" />




    </div>


    <div class="Content-Box-Text">
        
        <a href="@Model.Contents.First().FullLink">
        <h3>@Model.Contents.First().Title</h3>
        <span>
            @Model.Contents.First().PreviewText
        </span>
        </a>

    </div>


</div>
                
 
<div class="Content-Box-List">
    <ul>
        @if(Model.Contents.Count() > 1){
        foreach (Ren.CMS.Content.nContent Cont in Model.Contents.Skip(1))
        {
            Cont.GenerateLink();
            
            <li><div class="Content-List-Date"><span>@Cont.CreationDate.ToString("dd.MM.yyyy")</span></div> <div class="Content-List-Text"><a href="@Cont.FullLink"><span><b>@Cont.Title</b> &nbsp; @Cont.PreviewText</span></a></div></li>
        }
        }
        else{
        
        <li class="Content-Box-List-NoData"><span>&lt;Keine weiteren Einträge vorhanden&gt;</span></li>
        
        }
    </ul>

 <div class="Content-Box-List-End">

     @Html.ActionLink("Mehr...", Model.ContentListAction, Model.ContentListController)


 </div>

</div>





    }else{
    
    
    <div class="Content-Box-NoData">
        <span>&lt;Leider sind keine Inhalte vorhanden&gt;</span>

    </div>
        
    }



</div>