@model Ren.CMS.Blog.Models.NewsDetail
@{
    ViewBag.Title = "Kommentare zu " + Model.NewsEntry.Texts.First().Title;
}
<link rel="stylesheet" href="@Url.Content("/Content/nftheme/css/Shared/Blog.css")" type="text/css"/>
<h1><a href="@Model.NewsEntry.FullLink">@Model.NewsEntry.Texts.First().Title</a>&nbsp;<small>Alle Kommentare</small></h1>

      @if (Model.NewsEntry.Attachments("image", "indeximg").Count > 0)
             {
             <div class="blog-image">
                
                     <img class="blog-image" src="@Model.NewsEntry.Attachments("image", "indeximg").First().Path" title="@Model.NewsEntry.Texts.First().Title" />  
               



             </div>  
             }
<a class="btn btn-inverse" href="@Model.NewsEntry.FullLink">Zum Beitrag</a>

<br />
<div class="span11 blog-all-comments">
    @{
        var model = new Ren.CMS.Blog.Models.NewsComment();
        model.NewsID = Model.NewsEntry.ID;
        model.TargetAction = Model.NewsEntry.actionpath;
        model.TargetController = Model.NewsEntry.TargetController;

        Html.RenderPartial("AddComment", model);
        
        }


    <section id="CommentTree">   
    @{
        Html.RenderPartial("CommentTree", Model);
        }
    
    </section>


</div>
