@model Ren.CMS.Blog.Models.NewsDetail
@using Ren.CMS.Helpers.Content
@using Ren.CMS.Helpers
@{
   
    ViewBag.Title = Model.NewsEntry.Texts.First().Title;
    ViewBag.KeyWords = "";

    ViewBag.Description = Model.NewsEntry.Texts.First().PreviewText;
 
    
    
    Ren.CMS.CORE.SettingsHelper.GlobalSettingsHelper GS = new Ren.CMS.CORE.SettingsHelper.GlobalSettingsHelper();
   
    bool fb_enabled = false;
    string APPID = GS.Read("GLOBAL_SOCIAL_FB_APPID");

    Boolean.TryParse(GS.Read("GLOBAL_SOCIAL_FB_ENABLED"), out fb_enabled);

   string FB_APPID = GS.Read("GLOBAL_SOCIAL_FB_APPID");   
   
 }
<link rel="stylesheet" href="@Url.Content("/Content/nftheme/css/Shared/Blog.css")" type="text/css"/>
@if (Model.ScrollTo > 0)
{ 
    
      <script type="text/ecmascript">
          $(function () {


         var ct = window.contenttype;
         var ref = 'comment-@Model.ScrollTo';
         var id = @Model.NewsEntry.ID;

              loadAllComments(ct, id, ref);


 

     });

 </script>
}
     
@if(Request.QueryString["fb_comment_id"] != null && fb_enabled){

 //Coming soon

}


@Scripts.Render("~/Scripts/nftheme/shared/blog/CommentTree.js")
<script type="text/javascript">

    window.contenttype = "News";

</script>

@if (Model.PostedComment != null)
{ 
            
 
<!-- Modal -->
<div id="formerror" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Ups... Etwas ging schief :(</h3>
  </div>
  <div class="modal-body">
     <div class="alert alert-error">
          @Html.ValidationSummary(false)
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>

  </div>
</div>   
    
    
    
//We have an error on one of our forms...
 <script type="text/javascript">
     $(function () {


         var ct = window.contenttype;
         var ref = '@Model.PostedComment.FormID';
         var id = @Model.NewsEntry.ID;


         loadAllComments(ct, id, ref, function(data){
              
                  var errorform = "@(Model.PostedComment.FormID.StartsWith("answer-") ? "#Form-" + Model.PostedComment.FormID : "") :input";
                  
         

         var Nickname = "@Model.PostedComment.Nickname";
         var Comment = "@Model.PostedComment.Comment";
         var Reference = "@Model.PostedComment.Reference";


             $(errorform).each(function(){
                    
                 if($(this).attr("name") == "Nickname")
                     $(this).val(Nickname);
                 if($(this).attr("name") == "Comment")
                     $(this).val(Comment);
                 if($(this).attr("name") == "Reference")
                     $(this).val(Reference);
                 
                    
             });
               
               
              
              
     });
         $('#formerror').modal("show");

     });

 </script>
    


}

@*Load Type Based View*@
@{
    string ty = Model.NewsEntry.ContentType;
    
    try{
        Html.RenderPartial(ty + "/show", Model);   
    }
    catch(Exception e)
    {
        throw e;
    }
    
}


<script type="text/javascript">


    $(function () {


   

        $('#Comments a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });


</script>

