 @model Ren.CMS.Models.Core.nSliderModel
 

 <div id="slider_frame">
            <div style="float:left">
            <div style="padding:5px; width:340px;">

            <ul id="slider">
            @{
                
             

              
                
                
                List<Ren.CMS.Content.nContent.nAttachment> Thump = new List<Ren.CMS.Content.nContent.nAttachment>();

                List<Ren.CMS.Content.nContent> CC = Model.ContentCollection;
                if(CC.Count>Model.SliderSize){
                
                    int countx = CC.Count - Model.SliderSize;
                    CC.RemoveRange((Model.SliderSize - 1), countx);
                
                
                }
                    
                
                }
                @foreach (Ren.CMS.Content.nContent C in CC)
                {
                    C.GenerateLink();
				<li>

                @{
                    List<Ren.CMS.Content.nContent.nAttachment> Att = C.Attachments("image", "indeximg");
                    
                    }
                @if (Att.Count > 0)
                {
                    Thump.Add(Att[0]);
                    
                    <img style=" min-width: 345px; max-width:345px; max-height: 195px; " src="@Att[0].Path" alt="@C.Title" />
                
                }
                    <div class="caption">
                <div style="float:left">
                <h1>@C.Title</h1>
                </div>
                <div class="hr_slider"></div>
                <div style="float:left; clear:both">
                
                @C.PreviewText
                </div>
                <div style="float:right; margin-top:10px; clear:both">
                
                <a href="@C.FullLink">
                <img src="../../../Content/themes/nftheme/images/button_read.png" border="0" title="@C.FullLink" alt="Read more" />
                </a>
                
                </div>
                
                
                </div>
                </li>
                } 
            </ul>
            



            </div>
            <div id="externalNav" class="ui-helper-clearfix">
            @{
                int index = 1;
   
            }
            @foreach (Ren.CMS.Content.nContent.nAttachment T in Thump)
            {
               
                
            <div class="slider_thump_container">
            <a href="#@index">
            <img style="border:1px solid #747373;" src="@T.Path" alt="">
            </a>
            </div>
                index++;
            }
  
            </div>
            </div>
            <div id="current-caption">
            @if (CC.Count > 0)
            {
               <div style="float:left">
                <h1>@CC[0].Title</h1>
                </div>
                <div class="hr_slider"></div>
                <div style="float:left; clear:both">
                
                @CC[0].PreviewText
                </div>
                <div style="float:right; clear:both">
                
                <a href="@CC[0].FullLink"><img src="../../../Content/themes/nftheme/images/button_read.png" border="0" alt="Read more" /></a>
                
                </div>
            }
            
            </div>
            </div>