 

<!DOCTYPE html>

<html>
<head>
    <title>nfCMS - Backend  (Version 0.2.1 Alpa)</title>
    
    
    <link href="@Url.Content("~/Content/Backend/css/ui/ui.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Backend/css/quickstyles/ren.cms.jquifix.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Backend/css/general/backend.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/flexigrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/jquery.treeview.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/Content/chosen.css")" rel="stylesheet" type="text/css" />
    
    <link href="@Url.Content("~/Content/colorpicker/css/colorpicker.css")" rel="stylesheet" media="screen" type="text/css"/>
    <link href="@Url.Content("~/Scripts/shared/shadowbox/shadowbox.css")" rel="stylesheet" type="text/css" />

    @{
        string langcode = Ren.CMS.CORE.Helper.CurrentLanguageHelper.CurrentLanguage;
 
        Ren.CMS.Persistence.Base.BaseRepository<Ren.CMS.Persistence.Domain.tbLanguage> L = new Ren.CMS.Persistence.Base.BaseRepository<Ren.CMS.Persistence.Domain.tbLanguage>();
       
    
       
        

        var ls = L.GetMany(NHibernate.Criterion.Expression.Where<Ren.CMS.Persistence.Domain.tbLanguage>(e => e.Code== langcode), NHibernate.Criterion.Projections.Property<Ren.CMS.Persistence.Domain.tbLanguage>(e => e.Package));

        var lsl = ls.ToList();
        Dictionary<string, Dictionary<string, string>> Holder = new Dictionary<string, Dictionary<string, string>>();
        
        foreach(var _L  in lsl)
        {
            if(Holder.Any(e => e.Key == _L.Package))
            {
                if(!Holder[_L.Package].Any(e => e.Key == _L.Name))
                {
                Holder[_L.Package].Add(_L.Name, _L.Content);
                }
            }
            
            else{


                Holder.Add(_L.Package, new Dictionary<string, string>(){ {_L.Name, _L.Content}});
            
            
            }
        
        
        }
        
        //Its sorted...
        System.Text.StringBuilder Langs = new System.Text.StringBuilder();
        
        foreach(var h  in Holder)
        {

            Langs.AppendFormat("{0} :", h.Key.Replace('-', '_')).AppendLine("{").AppendLine() ;
            
            foreach(var i in h.Value){
                if(i.Key != h.Value.Last().Key)
                {
                Langs.AppendFormat("{0} : '{1}',", i.Key, i.Value);
            
                }
                else
                {

                    Langs.AppendFormat("{0} : '{1}'", i.Key, i.Value);
                
                }
                
                
            }
            Langs.AppendLine("}").AppendLine();
            
            if(h.Key != Holder.Last().Key)
            {

                Langs.AppendLine(",").AppendLine().AppendLine();
            
            }
        
        
        }
        
        }
        
            <script type="text/javascript">

        //Constants
                var base_url = "@Url.Content("~/")";

                var defaultLanguage = '@Ren.CMS.CORE.Helper.CurrentLanguageHelper.DefaultLanguage';
        var jsLang = {


                    @Html.Raw(Langs.ToString())

                };

    </script>
    <script src="@Url.Content("~/Scripts/tinymce/tiny_mce.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Backend/gui/js/jquery-1.9.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Backend/gui/js/jquery-ui-1.10.1.custom.min.js")"></script>
    <script src="~/Content/nftheme/bootstrap/js/bootstrap.js"></script>
    <script src="@Url.Content("/Scripts/jquery.msgWidgetHelper.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Scripts/shared/jquerymigration/jquery.migrate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.hotkeys.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout-2.2.0.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/Backend/backend-gui.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Backend/backend-widgets.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Backend/backend-core.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/colorpicker/colorpicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jstree.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/jquery.formDialog.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/shared/shadowbox/shadowbox.js")" type="text/javascript"></script>
 
    <script src="@Url.Content("~/Scripts/flexigrid.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/shared/flexigrid/jquery.flexigrid.returnSelected.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/chosen.jquery.js")" type="text/javascript"></script>
 
    <script src="~/Scripts/Backend/boostrap/bootstrap.js"></script>



    <link href="~/Content/Backend/css/bootstrap/bootstrap.css" rel="stylesheet" />

    <link href="~/Scripts/Majorplugins/Fileupload/css/jquery.fileupload-ui.css" rel="stylesheet" />
    <script src="~/Scripts/Majorplugins/Fileupload/js/jquery.iframe-transport.js"></script>
    <script src="~/Scripts/Majorplugins/Fileupload/js/jquery.fileupload.js"></script>
 
</head>
<body>
<div class="modal fade" id="systemmessage">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div class="sys-msg-cont"></div>
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn">OK</a>
         
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

 
 

<div class="container">
@RenderBody()

</div>
</body>
</html>
