
@model Ren.CMS.Models.Core.nContentPostModel


@{
    
    var langcodes = (List<Ren.CMS.Persistence.Domain.LangCode>)ViewData["LangCodes"];
    string active = Ren.CMS.CORE.Helper.CurrentLanguageHelper.DefaultLanguage;

    if (!langcodes.Any(e => e.Code == active) && langcodes.Count > 0)
    {
        active = langcodes.First().Code;

    }


    int i = 0;
}
<fieldset>
    <legend>Suchmaschienenoptimierung</legend>


<ul class="nav nav-tabs" id="@Html.ProtectID("SEO_Language")">
    @foreach(var l in langcodes)
    {
    <li class="@(l.Code == active ? active : "")"><a href="#@Html.ProtectID(l.Code)" data-toggle="tab">@l.Name</a></li>
 
    }

</ul>

    <div id="@Html.ProtectID("SEO_Language")Content" class="tab-content">

@foreach (var l in langcodes)
{
 
    
        
      <div id="@Html.ProtectID(l.Code)" class="tab-pane fade in @(l.Code == active ? "active" : "")">

       
<table class="tblEditContent">
        <tr title="Hier wird der Titel in Suchmaschienen kompatibler Schreibweise festgelegt(Dies geschieht nach Eingabe des Titels)">
        <td>
            <b>Suchmaschienen URL Titel(SEO):</b><br />
            <br />
            <input type="checkbox" id="enableAutomaticSEOForCreate" style="width:auto" checked="checked" /> Automatisch generieren
            
            <br />
            <a href="javascript:void(0)" class="create-content-help">Hilfe?</a>
        </td>
        <td id="seotitle-create-content">

          

     

            @Html.TextBoxFor(m => m.Texts.Where(e => e.LangCode == l.Code).First().SEOName)
            
        </td>

    </tr>

 

    <tr title="Geben Sie hier die Suchmaschienen Beschreibung ein.">
        <td>

            <b>Meta Beschreibung (Für Suchmaschienen):</b>
            <br />
            <a href="javascript:void(0)" class="create-content-help">Hilfe?</a>
        </td>
        <td>
     
 
            @Html.TextBoxFor(m => m.Texts.Where(e => e.LangCode == l.Code).First().MetaDescription)


        </td>
    </tr>

    <tr title="Geben Sie hier Stichworte für die Suchmaschienen ein. Trennen Sie diese mit einem Komma.">

        <td><b>Meta Stichworte (Suchstichworte)</b><br />
            <a href="javascript:void(0)" class="create-content-help">Hilfe?</a></td>
        <td>

 
            @Html.TextAreaFor(m => m.Texts.Where(e => e.LangCode == l.Code).First().MetaKeyWords)
             
        </td>
    </tr>

 </table>
    
    </div>
    i++;
}

        </div>
</fieldset>