@using Ren.CMS.Helpers
@using Ren.CMS.CORE.Permissions
@using Ren.CMS.CORE.nhibernate
@using Ren.CMS.CORE.nhibernate.Repositories
@using Ren.CMS.CORE.nhibernate.Domain
@using Ren.CMS.CORE.nhibernate.Base
@using Ren.CMS.CORE.Language.LanguageDefaults

@{
   
    BaseRepository<ContentType> Ct = new BaseRepository<ContentType>();

    var List = Ct.GetMany();
    
    Ren.CMS.CORE.Language.Language Lang = new Ren.CMS.CORE.Language.Language("__USER__", "CONTENT_TYPES");
    string edit = "";
    string delete ="";
    string create = "";
    
    
  
    }


 <div id="@Html.ProtectID("delete_content")">

     @LanguageDefaultsContent.LANG_CONTENT_DIALOG_DELETE_TEXT.ReturnLangLine()


 </div>


 
<script type="text/javascript">

    var  currentGrid = null;
    $(function () {



        $('#@Html.ProtectID("delete_content")').dialog({

            autoOpen: false,
            modal: true,
            buttons: {

                "@LanguageDefaultsShared.LANG_SHARED_YES": function () {

                  
                    var idEl = $('#grid-'+ currentGrid).flexReturnSelected();
                    var id = idEl.toString().substring(3);

                    $.post("/BackendHandler/Content/DeleteContent", { id: id }, function (d) {

                        if (d.success == true)
                        {

                            $('#grid-' + currentGrid).flexReload()
                            try{
                            
                                $(this).dialog("close");
                            }
                            catch (e)
                            {

                                $(this).hide();
                            }
                        }


                    }, 'json');






                },
                "@LanguageDefaultsShared.LANG_SHARED_NO": function () {

                    $(this).dialog("close");

                }


            }


        });


    });


</script>

    @if (List.Count() > 0)
    {
        
                 
         <script>

             $(function () {


                 $("#contentLists").tabs();

             });

            </script>

        <div id="contentLists">
             <ul>
        
        @foreach(var title in List)
        {
            string ctLangLine = Lang.getLine("LANG_CTYPE_" + title.Name.ToUpper());

            if (String.IsNullOrEmpty(ctLangLine))
            {

                ctLangLine = title.Name;
            }
           <li>
            <a href="#tab-@title.Name">@ctLangLine</a>
          </li>

        
            
        
        
        }
        </ul>
             
            
            
           
                          
            @foreach(var ct in List)
            { 
           
                
                              
    if (nPermissions.hasPermission("USR_CAN_DELETE_CONTENTS"))
                                         {

                                             delete = "{" +
                                               " name: '<span class=\"icon-remove icon\"></span>" + LanguageDefaultsShared.LANG_SHARED_DELETE.ReturnLangLine() + "', bclass: 'delete', onpress: function (com, grid) {" +
                                             " currentGrid = '"+ ct.Name +"';"+
                                 
                                             "      $('#"+ Html.ProtectID("delete_content")  +"').dialog('open');"+

                                          "      }" +
                                           " },";
                                         }
                                       
    
    if(nPermissions.hasPermission("USR_CAN_EDIT_CONTENT"))
    {
    
         edit =" {"+
                                         "name: '"+ LanguageDefaultsShared.LANG_SHARED_EDIT.ReturnLangLine() +"', bclass: 'edit', onpress: function () { "+
                                        "     var idEl = $('#grid-"+ ct.Name+"').flexReturnSelected();"+
                                        "     var id = idEl.toString().substring(3);"+
                                        "     if(id != '')"+
                                        "         new widgetAction('widget:EDIT_CONTENT:open', { contentType: '"+ ct.Name +"', id: id });"+

                                        " }"+
                                    " },";
            
        
    
    }
    
    if(nPermissions.hasPermission("USR_CAN_CREATE_CONTENT"))
    {


        create = " {" +
                                            "name: '"+ LanguageDefaultsShared.LANG_SHARED_ADD.ReturnLangLine() +"', bclass: 'add', onpress: function () {" +
                                               " new widgetAction(\"widget:CREATE_CONTENT:open\", { contentType: '"+ ct.Name+"' });" +

                                      "      }" +
                                     "   },";
    
    }
    
    
    
          
    
    
                
             <div id="tab-@ct.Name">
            

                     <table id="grid-@ct.Name" style="display:none"></table>
                     <script type="text/javascript">

                         $(function () {
                            
                             $("#grid-@ct.Name").flexigrid({
                                 url: '/BackendHandler/Content/ContentList/@ct.Name',
                                 dataType: 'json',
                                 colModel: [
                                     { display: '@LanguageDefaultsContent.LANG_CONTENT_TITLE.ReturnLangLine()', name: 'Title', width: 150, sortable: true, align: 'left' },
                                     { display: '@LanguageDefaultsContent.LANG_CONTENT_CREATOR.ReturnLangLine()', name: 'Creator', width: 150, sortable: true, align: 'left' },
                                     { display: '@LanguageDefaultsContent.LANG_CONTENT_CATEGORY.ReturnLangLine()', name: 'Category', width: 100, sortable: true, align: 'left' },
                                     { display: '@LanguageDefaultsContent.LANG_CONTENT_CREATION_DATE.ReturnLangLine()', name: 'cDate', width: 50, sortable: true, align: 'left' }
                                 ],
                                 buttons: [
                                   
                                       @(Html.Raw(create +edit+delete))

                                     { separator: true }
                                 ],
                                 searchitems: [
                                     { display: '@LanguageDefaultsContent.LANG_CONTENT_TITLE.ReturnLangLine()', name: 'Title' },
                                     { display: '@LanguageDefaultsContent.LANG_CONTENT_CREATION_DATE.ReturnLangLine()', name: 'cDate', isdefault: true }
                                 ],
                                 sortname: "cDate",
                                 sortorder: "DESC",
                                 usepager: true,
                                 title: '@LanguageDefaultsContent.LANG_CONTENTS.ReturnLangLine()',
                                 useRp: true,
                                 rp: 15,
                                 showTableToggleBtn: false,
                                 width: 'auto',

                                 singleSelect: true

                             });


                         });

                     </script>
               

             </div> 
            }
        </div>
    
    
    }