@model InstallModule.Installer.Models.InstallWizardModel


<div class="wizard" id="rencmswizard" data-title="Ren.CMS.NET Install Wizard">
    <div class="wizard-card" data-cardname="card1">
        <h3>Howdy!</h3>
        @{
            Html.RenderPartial("_Welcome");
        }
    </div>

    <div class="wizard-card" data-cardname="card2">
        <h3>License</h3>
        @{
            Html.RenderPartial("_License", Model);
        }
    </div>

    <div class="wizard-card" data-validate="validateInstallType" data-cardname="card3">
        <h3>Installation Type</h3>
        @{
            Html.RenderPartial("_InstallType", Model);
        }
    </div>
    <div class="wizard-card" data-cardname="languages" data-validate="validateLanguages">
        <h3>Languages</h3>
        @{
            Html.RenderPartial("_Languages", Model);
        }
    </div>
    <div class="wizard-card" data-cardname="card4" data-validate="validateDB">
        <h3>Database Connection</h3>
        @{
            Html.RenderPartial("_DatabaseConnection", Model);
        }
    </div>

    <div class="wizard-card" data-cardname="card5">
        <h3>Summary</h3>
        @{
            Html.RenderPartial("_Summary", Model);
        }
    </div>


    <div class="wizard-card" data-cardname="install">
        <h3>Install</h3>
        @{
            Html.RenderPartial("_Install", Model);
        }
    </div>

    <div class="wizard-card" data-cardname="card7">
        <h3>Create Admin Account</h3>
        @{
            Html.RenderPartial("_CreateAdmin", Model);
        }
    </div>

    <div class="wizard-card" data-cardname="card8">
        <h3>Finish</h3>
        @{
            Html.RenderPartial("_Finish", Model);
        }
    </div>
</div>


@section scripts{

    <script>
    var urlGetDB = '@Url.Action("GetDatabases")';
    var urlGetSummaryTree = '@Url.Action("GetSummaryTree")';
    var urlGetConnectionString = '@Url.Action("getConnectionString")';
    var urlTestConnection = '@Url.Action("testConnection")';
    var urlSystemRequirements = '@Url.Action("SystemRequirements")';
        var urlGetInstallAction = '@Url.Action("GetInstallActions")';
    </script>

    @Scripts.Render("~/Scripts/Installer/Installer.js")
    @Styles.Render("~/Content/Installer/Installer.css")

}