@{
    nfCMS_NET.CORE.Language.Language LNGT = new nfCMS_NET.CORE.Language.Language("__USER__","NEWS");



    ViewBag.Title = LNGT.getLine("LANG_NEWS_ARCHIVE_TITLE");
 
     
  
    }
   <div id="content">
@foreach(nfCMS_NET.Content.nContent News in ViewData["News"] as List<nfCMS_NET.Content.nContent>)
 {
     News.GenerateLink();
     List<nfCMS_NET.Content.nContent.nAttachment> Att = News.Attachments("image", "indeximg");
 <div class="listentry">
 <div class="listentry_left">
 @if (Att.Count > 0)
 {
     
 <img src="@Att[0].Path" alt="@News.Title"  border="0"/>
 }
     </div>
 <div class="listentry_right">
  <div class="listentry_top">
 <a href="@News.actionpath">   
 <h2>@News.Title</h2>
 </a>
 </div>
 <div class="listentry_middle">
 
 @Html.ActionLink(News.CreatorName,"u/"+ News.CreatorName,"Profile") &nbsp;|&nbsp;@News.CreationDate.ToString().Substring(0,10) &nbsp;|&nbsp;Kategorie: @News.CategoryName
 </div>
 <div class="listentry_bottom">
 @News.PreviewText
 
 </div>
 </div>
 </div>
 <div class="content_hr"></div>
     }
     <div style="float:left; font-size:8pt; margin:10px 0; clear:both">
     <b>Seite:</b>&nbsp;
    @foreach(nfCMS_NET.Pagination.nPage n_Page in ViewData["Pages"] as nfCMS_NET.Pagination.nPagingCollection)
    {
    <span style="margin-right:5px;">
    @if ((int)ViewData["Page"] == n_Page.Index)
    { 
    
    
    <strong>[@n_Page.Index]</strong>
    
    }
    else
    {
   @Html.ActionLink("[" + n_Page.Index + "]", "Index/" + n_Page.Index)
    }
        </span>
    
 
    }
     </div>
 <div style="float:right; font-size:8pt; margin:10px 0;">
 <i>Zeige Einträge @ViewData["Show"] von @ViewData["TotalRows"]</i>
 </div>


 </div>