 @model Ren.CMS.Models.ForwardModel
 
 @{
    Ren.CMS.CORE.Language.Language LNGT = new Ren.CMS.CORE.Language.Language("__USER__","NEWS");

    string descr = String.Format(LNGT.getLine("LANG_NEWS_TAG_BROWSING_TEXT"),new {ViewBag.TagName});

    ViewBag.Title = ViewBag.TagName;
    ViewBag.KeyWords = ViewBag.TagName;
    ViewBag.Description = descr;
    string tagName = ViewBag.TagName;
    List<Ren.CMS.Content.nContent> LI =( List<Ren.CMS.Content.nContent> )ViewData["Entries"];
    int max3 = 3;
    Ren.CMS.Pagination.nPagingCollection PSC = (Ren.CMS.Pagination.nPagingCollection)ViewData["Pages"];
    if (LI.Count < 10) { max3 = LI.Count; }
    Ren.CMS.Models.Core.nSliderModel Slider = new Ren.CMS.Models.Core.nSliderModel();
    Slider.ContentCollection = LI;
    Slider.SliderSize = 4;
    
    
    }

     @{    
    Html.RenderPartial("Slider", Slider);
    }
   <div id="content">

   <p>
   <h2>@ViewBag.TagName</h2> @{Html.RenderPartial("../Shared/_LocationBar", ViewData);}
  </p>
  
   @for (int x = 0; x < max3; x++) {

       Ren.CMS.Models.Core.nContentIncludedModel MDL = new Ren.CMS.Models.Core.nContentIncludedModel();
       MDL.Entry = LI[x];

       Html.RenderPartial("_NewsListRow",MDL);
   
   
   
   }
 
 
 @if (LI.Count > 3) {

    
     <h2>Weitere Beiträge...</h2>
     
     for (int y = 3; y < LI.Count; y++) { 
     
    
      Ren.CMS.Models.Core.nContentIncludedModel MDL = new Ren.CMS.Models.Core.nContentIncludedModel();
       MDL.Entry = LI[y];

       Html.RenderPartial("_NewsShortRow",MDL);
     
     
     
     
     }
 
 
 
 
 
 
 } 
 
   <div style="float:left; font-size:8pt; margin:10px 0; clear:both">
     <b>Seite(@PSC.MaxPages):</b>
    
    
      @((int)ViewData["Page"] > 6 ? Html.ActionLink("[...]", tagName) : null)
    @foreach (Ren.CMS.Pagination.nPage n_Page in PSC)
    {

        if (n_Page.Index <= ((int)ViewData["Page"] + 5) || n_Page.Index >= ((int)ViewData["Page"] - 5))
        {
    <span style="margin-right:5px;">
    @if ((int)ViewData["Page"] == n_Page.Index)
    { 
    
    
    <strong>[@n_Page.Index]</strong>
    
    }
    else
    {
   @Html.ActionLink("[" + n_Page.Index + "]", tagName +";"+ n_Page.Index)
    }
        </span>
    
 
        }
    }
    
    @if ((PSC.MaxPages - (int)ViewData["Page"]) > 5)
    { 
    
       @Html.ActionLink("[...]", tagName +";"+ ((int)ViewData["Page"] + 5))
    
    }
     </div>
  <div style="float:right; font-size:8pt; margin:10px 0;">
 <i>Zeige Einträge @ViewData["Show"] von @ViewData["TotalRows"]</i>
 </div>
 
 
 	
 </div>