@model Ren.CMS.Models.Core.nContentIncludedModel
@{
    int totalRating = 0;
    decimal dtotalRating = 0;


    decimal.TryParse(ViewData["totalRating"].ToString(), out dtotalRating);
    Ren.CMS.Content.ContentManagement.GetContent Cm = new Ren.CMS.Content.ContentManagement.GetContent(new string[] { "eArticleComment" }, null, null, "{prefix}Content.cDate", "DESC", false, 0, 0, Model.Entry.ID);

    totalRating = Convert.ToInt32(Math.Round(dtotalRating));
    Ren.CMS.CORE.SettingsHelper.GlobalSettingsHelper GS = new Ren.CMS.CORE.SettingsHelper.GlobalSettingsHelper();


    int maxStars = 0;

    int.TryParse(GS.Read("InternalRatingMaxStars"), out maxStars);


    if (maxStars == 0) {
        maxStars = 5;
    }
    int rest = maxStars - totalRating;
    
    }
<div class="listentry_middle">
 
 @Html.ActionLink(Model.Entry.CreatorName, "u/" + Model.Entry.CreatorName, "Profile") &nbsp;|&nbsp;@Model.Entry.CreationDate.ToString().Substring(0, 10) &nbsp;|&nbsp;Kategorie: @Model.Entry.CategoryName &nbsp;|&nbsp; <a href="javascript:void(0)" id="gall">Gallerie</a> &nbsp;|&nbsp; <a id="vid" href="javascript:void(0)">Videos</a> 
 
 
  Von&nbsp;@Html.ActionLink(Model.Entry.CreatorName,"u/"+ Model.Entry.CreatorName,"Profile") am&nbsp;<span>@Model.Entry.CreationDate.ToString().Substring(0,10)</span>&nbsp;in <a href="/News/Category/@Model.Entry.CategoryName">@Model.Entry.CategoryName</a>&nbsp;
<span class="ui-icon ui-icon-comment" style="display:inline-block" title="Kommentare"></span>@Cm.TotalRows
<span class="ui-icon ui-icon-lightbulb" style="display:inline-block" title="Klicks"></span>@Model.Entry.ClickCount
&nbsp;<a href="javascript:void(0)" id="2rating" class="ratinglink ui-helper-clearfix"><span style="float:left">Bewertung:</span>@for (int x = 1; x <= totalRating; x++) { 
                                                                                                                                                                                                                                                                                    
<span class="ui-icon ui-icon-star ratingstar"></span>                                                                                                                                                                                                                                                                                                                                                                             
}
@if (rest > 0) { 


    for (int y = 1; y <= rest; y++)
    { 
     
     
         <span class="ui-icon ui-icon-star uiInactive ratingstar"></span>     
     
     
    }





}
 


</a>

 
 </div>