@using Ren.CMS.Helpers
@using Ren.CMS.Models.jsTreeModels
 @{
     
     jsTreeSettings Settings = new jsTreeSettings();

     Settings.plugins.ClearPlugins();
     
     Settings.plugins.Add(new string[]{ "themes", "json_data", "ui", "crrm", "cookies", "dnd", "search", "types", "hotkeys" });

     Settings.types.valid_children = new string[] { "drive" };
     jsTreeType Drive = new jsTreeType();

     Drive.valid_children = new string[] { "drive" };
     Drive.name = "drive";

     Settings.types.types.Add(Drive);
     
     Settings.ajax_read.url = "/BackendHandler/Content/JSTREE_CATEGORIES";

     Settings.ajax_read.additionalRequestParameters.Add("ContentType", "jsCode::v"); 
    
     
     
     
     }
 <style type="text/css">

     #@Html.ProtectID("tree")
     {
        border: 1px solid #DDD;
     width:100%;
     height:100%;
     float:left;
     clear:both;
     margin-top:10px;
     overflow:auto;
     }

     .@Html.ProtectID("categoryTreeCreateContentDefaultActive")
     {
        font-weight:bold;
        
     
     }
     .selectCategoryDo:hover
     {

         background:#808080;
         font-weight:bold !important;
     }

     .selectCategoryDo
     {

         background:transparent;
         font-weight:normal !important;
     }


 </style>



<script>
    var contentTypes = [];
    //ComboBox Model

    function cBoxModel(data) {

        this.Label = data.Label;
        this.Value = data.Value;



    }
  

    $(document).ready(function () {
        loadCTypes();
    });
 

    function loadCTypes()
    {

        $.post("/BackendHandler/Content/GetContentTypes", function (data) {

            contentTypes = data.ContentTypes;

            //Load Content Types From BackendHandler
            console.log("ajaxRequest,End");

            console.log(contentTypes);
            ko.applyBindings(new cBoxViewModel());


        }, 'json');

       
    }

    //ComboBox ViewModel

    function cBoxViewModel()
    {
        var self = this;

        self.options = contentTypes;
        self.selectedCT = ko.observable();



        //Map Options

 




    }
    //Knockout Models Ending



    $(function () {

        $('#delete-category').dialog({
            resizable: false,
            height: 240,
            autoOpen:false,
            modal: true,
            buttons:{
                'Ja': function () {

                    var id = $('#@Html.ProtectID("tree")').jstree("get_selected")[0].id;

                    console.log("ID:" + id);


                    $.post("/BackendHandler/Content/RemoveCat", { ID: id },
                        function (data) {


                            //        $('#@Html.ProtectID("CTselecter")').change();

                            $('#@Html.ProtectID("tree")').jstree("refresh");
                            $('#delete-category').dialog("close");
                        });



                    
                
                },
                "Nein": function () {
                    $(this).dialog("close");
                }
            }
        });



    });
</script>
    <div id="delete-category" style="font-size:10px !important;">

        <span style="font-size:10px !important;">

            Möchten Sie diese Kategorie wirklich löschen? Damit verknüpfte Inhalte werden eventuell dadurch nicht abrufbar und müssen neu zugeordnet werden.
            Dies können Sie unter  &quot;Inhalte verwalten => Inhalt bearbeiten. &quot;


        </span>


    </div>
<div style="float:left; clear:both; width:100%">

    <div style="width:100%; float:left; clear:both">
<select style="float:left;" id="@Html.ProtectID("CTselecter")" data-bind="options: options, optionsCaption: 'Bitte Inhaltstyp wählen', optionsText: 'Label', optionsValue: 'Value'">

    
    

</select>

      
     <button id="@Html.ProtectID("newCat")" style="float:right; margin-right:10px">@Html.LanguageLine("LANG_BACKEND_CATLIST_NEW","BACKEND-CATEGORIES",(new Dictionary<string,string>(){{"de-DE","Neue Kategorie"},{"en-US","New Category"}}))</button>

</div>

    <p id="@Html.ProtectID("PleaseSelect")">
        
        @Html.LanguageLine("LANG_BACKEND_CATLIST_PLEASE_SELECT_CT","BACKEND-CATEGORIES",(new Dictionary<string,string>(){{"de-DE","Bitte w&auml;hlen Sie einen Inhaltstyp aus, um Kategorien zu verwalten."},{"en-US","Please select a content type"}}))
    </p>
    <div style="display:none" id="@Html.ProtectID("CategoryHolder")">
        <input type="hidden" id="@Html.ProtectID("selected_category")" value="0"/>


   
    <div id="@Html.ProtectID("CategoryList")" style="float:left; width:100%; margin-top:15px; clear:both">
        <script type="text/javascript">
            $(function () {

                $('#@Html.ProtectID("edit")').click(function () {

                    var id = $('#@Html.ProtectID("tree")').jstree("get_selected")[0].id;
                    new widgetAction('widget:EDIT_CATEGORY:open', { id: id, jstree: '@Html.ProtectID("tree")', catCTSwitcher: '@Html.ProtectID("CTselecter")' });
                    new widgetAction('widget:CONTENT_CATEGORIES:hide');

                       
                });

                $('#@Html.ProtectID("delete")').click(function () {

                    $('#delete-category').dialog("open");


                });

                $('#@Html.ProtectID("refresh")').click(function () {

                    $('#@Html.ProtectID("tree")').jstree("refresh");
                });
            });
        </script>
        <div id="@Html.ProtectID("menubar")" style="float:left; clear:both;  margin-top:5px; margin-bottom:5px;">

        <a id="@Html.ProtectID("edit")" href="javascript:void(0)">
         <span class="ui-icon ui-icon-pencil" style="display:inline-block"></span>
            @Html.LanguageLine("LANG_GLOBAL_EDIT_SINGLE", "GLOBAL", new Dictionary<string, string>() { { "de-DE", "Bearbeiten" }, { "en-US", "Edit" } })
        </a>
        &nbsp;
        <a id="@Html.ProtectID("delete")" href="javascript:void(0)">
            <span class="ui-icon ui-icon-trash" style="display:inline-block"></span>
          @Html.LanguageLine("LANG_GLOBAL_DELETE_SINGLE", "GLOBAL", new Dictionary<string, string>() { { "de-DE", "L&ouml;schen" }, { "en-US", "Delete" } })
        </a>

        </div>

        <div style="float:right; margin-top:5px; margin-bottom:5px;">

            
        <a id="@Html.ProtectID("refresh")" href="javascript:void(0)">
            <span class="ui-icon ui-icon-arrowrefresh-1-s" style="display:inline-block"></span>
          @Html.LanguageLine("LANG_GLOBAL_REFRESH_SINGLE", "GLOBAL", new Dictionary<string, string>() { { "de-DE", "Aktualisieren" }, { "en-US", "Refresh" } })
        </a>


        </div>

    </div>
<script type="text/javascript">

    $(function () {

        $('#@Html.ProtectID("newCat")').click(function (e) {


            e.preventDefault();

            new widgetAction('widget:NEW_CATEGORY:open', { ct: $('#@Html.ProtectID("CTselecter")').val(), jstree: '@Html.ProtectID("tree")', catCTSwitcher: '@Html.ProtectID("CTselecter")',  });
            new widgetAction('widget:CONTENT_CATEGORIES:hide');

        });

    });

    //Apply Change Listener
    $(function () {
        $('#@Html.ProtectID("newCat")').button();
    });


        $(function () {
       

        $('#@Html.ProtectID("CTselecter")').change(function () {

             var v = $(this).val().toString();

            if (v.length > 0) {
                $('#@Html.ProtectID("PleaseSelect")').fadeOut();
                $('#@Html.ProtectID("tree")').remove();


                //$('#@Html.ProtectID("CategoryList")').append("<ul class=\"filetree\" style=\"font-size:10.5pt\" id=\"@Html.ProtectID("CategoryList_UL")\"></ul>");

              

                $('#@Html.ProtectID("CategoryList")').append("<div id=\"@Html.ProtectID("tree")\"></div>");
                
               
         


                @Html.jsTreeScriptOnly(Settings,Html.ProtectID("tree"),false)
                //Binding Move Function

                $('#@Html.ProtectID("tree")').bind("contextmenu", function (e) {
                    //new BackendGui().defaultContext(e);


                    return false;
                });

                $('#@Html.ProtectID("tree")').bind("move_node.jstree", function (e, data) {
                    data.rslt.o.each(function (i) {
                        $.ajax({
                            async : false,
                            type: 'POST',
                            url: "/BackendHandler/Content/MoveCategory",
                            data : { 
 
                                "id" : $(this).attr("id").replace("node_",""), 
                                "parent": data.rslt.cr === -1 || data.rslt.cr === 1 ? '' : data.rslt.np.attr("id").replace("node_", ""),
                                "position" : data.rslt.cp + i,
                                "title" : data.rslt.name,
                                "copy" : data.rslt.cy ? 1 : 0
                            },
                            success : function (r) {
                                if(!r.status) {
                                    $.jstree.rollback(data.rlbk);
                                }
                                else {
                                    $(data.rslt.oc).attr("id", "node_" + r.id);
                                                                }
                                
                            }
                        });
                    });
                });
                

                
                $('#@Html.ProtectID("CategoryHolder")').fadeIn();

               




            }
        });


    });
 
   
     </script>
               
             
</div>    



 