@model nfCMS_NET.Models.Core.SocialSharing
 
@{
    
    nfCMS_NET.CORE.Extras.Extras Ext = new nfCMS_NET.CORE.Extras.Extras();
    
    }
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style @Model.ContainerClassesCSS" style="@(Model.width != 0 ? "width: "+ Model.width +"px;" : "") @(Model.height != 0 ? "height: " + Model.height + "px;" : "") @Model.ContainerStyle">

@foreach (string buttonName in Model.AddThisButtons)
{
    if (Ext.ViewExists("../AddThisButtons/" + buttonName, ViewContext.Controller.ControllerContext))
    {

        Html.RenderPartial("../AddThisButtons/" + buttonName);
    }
    else
    {

<a class="@buttonName"></a>
 
    }
    
}
</div>

<!-- AddThis Button END -->