@using Ren.CMS.Controllers
@using Ren.CMS.CORE.Helper.DataTables
@using Ren.CMS.CORE.Viewmodels.Backend
@using Ren.CMS.CORE.DataTables.BackendModels
@using Mvc.JQuery.Datatables


@{
 
    //Config for Table

    var vm = Html.DataTableVm<BackendHandlerContentController, ContentListView>(Html.ProtectID("content-list"),
         (BackendHandlerContentController c) => c.ContentList(null));

    vm.TableTools = false;
    vm.JsOptions.Add("fnHeaderCallback", "JSFUNC::cFilter");
    vm.TableTools = false;
    vm.ShowSearch = false;

    string lis = "";

    foreach (var ct in ContentListViewModel.ContentTypeList())
    {
        Ren.CMS.CORE.Language.Language Lang = new Ren.CMS.CORE.Language.Language("__USER__", "CONTENT_TYPES");

        string ctLangLine = Lang.getLine("LANG_CTYPE_" + ct.Name.ToUpper());
        if (String.IsNullOrEmpty(ctLangLine) || String.IsNullOrWhiteSpace(ctLangLine))
        {
            ctLangLine = ct.Name;
        }


        lis += "<li role=\"presentation\"><a role=\"menuitem\" tabindex=\"-1\" data-ct=\""+ ct.Name +"\" href=\"#\">" + ctLangLine + "</a></li>";
    }
}

@Scripts.Render("~/Scripts/datatable.columnfilter.js")


<!-- Buttons -->
 
 <div class="span-12 clearfix">
<div class="dropdown pull-left">
  <a href="#" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" id="@Html.ProtectID("create")"><span class="caret"></span>Inhalt anlegen</a>
  <ul  id="@Html.ProtectID("create")dropdown"class="dropdown-menu" role="menu" aria-labelledby="@Html.ProtectID("create")">
      @Html.Raw(lis);
 
  </ul>
 </div>


<a href="#" class="btn btn-default pull-right" id="@Html.ProtectID("filter")">Filter</a>
</div>
<script>
    $(function () {
        $('#@Html.ProtectID("create")dropdown').find("li").each(function (i) {

            $(this).find("a").click(function () {

                var ct = $(this).attr("data-ct");

                new widgetAction("widget:CREATE_CONTENT:open", { contentType: ct });


            });

        });


        $('#@Html.ProtectID("create")').dropdown();

        fixActionColumn($('#@Html.ProtectID("content-list")'));

        $('#@Html.ProtectID("filter")').click(function (e) {

            e.preventDefault();
            $('#@Html.ProtectID("content-list")').dtShowColumnFilter();
           

        });

    });
    function cFilter(oSettings) {

        fixActionColumn($('#@Html.ProtectID("content-list")'));
        

        $('#@Html.ProtectID("content-list")').dtAddColumnFilter();
       
    }
</script>


<!--- List begins here --->

@(Html.JqueryDataTable<ContentListView>(vm))


