


@{
    
    List<Ren.CMS.CORE.Extras.LocationModel> locationbar = null;


    if (ViewData["LocationBarCollection"] != null)
    {
        locationbar = (List<Ren.CMS.CORE.Extras.LocationModel>)ViewData["LocationBarCollection"];
    }
    
    
    }


        @if (locationbar != null)
        {
        <div id="locationbar">
        <img src="/Content/themes/ren.cms/images/user-home.png" alt="Du bist hier:" title="Du bist hier:" style="border:none; width:16px" />&nbsp;
        @foreach (Ren.CMS.CORE.Extras.LocationModel Loc in locationbar) {


            if (Loc.isCurrentLocation)
            { 
            
                <b>@Loc.Name</b>
            
            
            }
            else { 
            
            <a href="@Loc.Address" title="@Loc.Name">@Loc.Name </a> 
            
            }
            if (locationbar[locationbar.Count - 1] != Loc) { 
            
            
            @Html.Raw("&raquo");
            
            }
        
        }
        
 
        </div>
        }
        
