@model nfCMS_NET.Models.ChangeAvatar



  <h3>Profilbild ändern</h3>



 @using (Html.BeginForm("AjaxSaveAvatar", "Account", FormMethod.Post, 
    new { enctype = "multipart/form-data", id="ImgForm", 
        name="ImgForm", target="UploadTarget" }))
{
 <table class="normaltable">

     <tr>
         
         <td class="account_profile_image">
             <div id="show_image" class="account_profile_image_div">
       <img src="@Model.picname" alt="@Model.User.UserName" title="@Model.User.UserName"/>        
              </div>
           
         </td>
         <td>
             <script>

                 function ajaxRunnin() {
                     $('.xhide').fadeOut('slow', function () {


                        



                     });
                     $('.loaderx').fadeIn(500, null);




                 }

                 function ajax_end() {
             
                     $('.loaderx').fadeOut(500, function () {

                     



                     });

                     $('.xhide').fadeIn(500, null);



                 


                 }
                 var isFirstLoad = true;

                 function UploadImage() {

                     ajaxRunnin();


                     $("#ImgForm").submit();
                 }



                 function UploadImage_Complete() {


                     ajax_end();


                     //Check to see if this is the first load of the iFrame
                     if (isFirstLoad == true) {
                         isFirstLoad = false;
                         return;
                     }

                     //Reset the image form so the file won't get uploaded again
                     document.getElementById("ImgForm").reset();

                     //Grab the content of the textarea we named jsonResult .  This shold be loaded into 
                     //the hidden iFrame.
                     var newImg = $.parseJSON($("#UploadTarget").contents().find("#jsonResult")[0].innerHTML);

                     //If there was an error, display it to the user
                     if (newImg.IsValid == false) {
                         alert(newImg.Message);
                         return;
                     }

                     //Create a new image and insert it into the Images div.  Just to be fancy, 
                     //we're going to use a "FadeIn" effect from jQuery
                     var imgDiv = document.getElementById("show_image");
                     var img = new Image();
                     var oldimg = $(imgDiv).find("img");
                     $(oldimg).fadeOut(500, null);
                     img.src = newImg.ImagePath;
                     
                     //Hide the image before adding to the DOM
                     $(img).hide();
                     $(imgDiv).html(img);
                     //Now fade the image in
                     $(img).fadeIn(500, null);
                 }

                 $(function () {
                     $('.file_uploader').change(function () {


                         $('#ajax_action_in').find('p').text($(this).val());
                         UploadImage();

                     });
                     $('#ChangePic').click(function () {
                        

                         var e = $('.file_uploader');

                             e.click();




                     });



                 });
             </script>

 
      <div class="ajax_action_in" id="fileDiv" class="flright flclear">
          
          <input type="button" id="ChangePic" class="changeProfilePic xhide" value="" />
          <p style="font-size:10px">

             Keine neue Datei ausgewählt

          </p>
          <div style="display:none">
          <input style="display:none" type="file" class="file_uploader" accept="@Model.ProfilePictureFileTypesHTMLText.ToHtmlString().Replace("*", "")" name="avatar" />
    </div>
  


   <div class="loaderx" style="display:none">
<img alt="Loading..." title="Loading..." id="load_images" src="/Content/Themes/nftheme/images/ajax-loader.gif" style="border:none; " /> Wird hochgeladen...
</div>
      </div> 
  

<iframe id="UploadTarget" name="UploadTarget" onload="UploadImage_Complete();" style="position: absolute; left: -999em; top: -999em;"></iframe>

<div class="flleft flclear" style="width:100%; height:10px; margin-top:10px; font-size:9px"><span class="flright flclear">(@Model.ProfilePictureFileTypesHTMLText )</span></div>

 
             
             <div class="flright flclear" style="width:240px; font-size:9px">
               <p>
                
                 <b class="flleft flclear">Minimale Bildgröße:</b><span class="flright"> @Model.MinHeightPixel x @Model.MinWidthPixel</span>
                 <b class="flleft flclear">Maximale Bildgröße:</b> <span class="flright">@Model.MaxHeightPixel x @Model.MaxWidthPixel</span>
                
                 <b class="flleft flclear">Maximale Dateigröße:</b><span class="flright">@Model.ParsedMaxFileSize</span><br />
 
             </p>
              </div>
         </td>

     </tr>


     <tr><td colspan="2" style="text-align:right">
         

         
          <div class="ajax_action_in" style="float:right">
<input type="SUBMIT"  id="SUBMITBTN" class="btnOK xhide" onclick="UploadImage()"  style="float:right" />
<div class="loaderx" style="display:none">
<img alt="Loading..." title="Loading..." src="/Content/Themes/nftheme/images/ajax-loader.gif" style="border:none; " /> Wird hochgeladen...
</div>

 </div>
         </td></tr>

 </table>
     
     
     
 }