@{
    ViewBag.Title = "Account - "+ User.Identity.Name;
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#dialog').html("Möchtest du dich wirklich ausloggen?");

        $('#dialog').dialog({ hide: 'fold',
            show: 'blind', autoOpen: false, buttons: { "Ja": function () {

            document.location.href = "/Account/LogOff";
        },

            "Nein": function () { $(this).dialog("close"); }
        }
        });

      

    });
    $(function () {



        $('.account_category').each(function () {
            $(this).click(function () {
                var addr = $(this).find('a').attr('href'); ;


                var checkAddr = addr.toLowerCase();

                if (checkAddr.indexOf("/account/logoff") != -1) {

                    $('#dialog').dialog('open');

                }
                else document.location.href = addr;
            });
        });

    });


</script>

<div id="dialog" style="display:none"></div>
<div id="content">

<h2>Account - @User.Identity.Name </h2>
   @{Html.RenderPartial("../Shared/_LocationBar", ViewData);}


@if (ViewBag.IsSuccess == true)
{
    if (ViewBag.Errors > 0)
    {
<div class="ui-widget">
	<div class="ui-state-error ui-corner-all ui-helper-clearfix" style="padding: 0 .7em;">
		<p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
		<strong>@ViewBag.SuccessMessageTitle</strong> <br />@ViewBag.SuccessMessageText</p>
	</div>
</div>

    }

    else
    {
    <div class="ui-widget">
	<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
		<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
		<strong>@ViewBag.SuccessMessageTitle</strong> <br />@ViewBag.SuccessMessageText</p>
	</div>
</div>
}

}
<noscript>

<div class="ui-widget">
				<div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;"> 
					<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
					<strong>Javascript deaktiviert</strong> Wir haben erkannt, dass du kein Javascript aktiviert hast. Daher funktioniert die weiterleitung im Menu nicht richtig. Bitte klicke auf den Text anstatt auf das Bild oder aktiviere Javascript</p>
				</div>
			</div>

</noscript>
<div class="account_category account_row_start">
<div class="account_i_settings">




</div>

<div class="account_menu_link">
<a class="account_menu_link" href="/Account/Settings">Einstellungen ändern.</a></div>

</div>


<div class="account_category account_row_cell">
<div class="account_i_password">




</div><div class="account_menu_link">
<a class="account_menu_link" href="/Account/ChangePassword">Passwort ändern.</a></div>
</div>
 





 



<div class="account_category account_row_cell">
<div class="account_i_profile">




</div><div class="account_menu_link">
<a class="account_menu_link" href="/Account/ChangeProfile">Profil ändern.</a></div>

</div>



<div class="account_category account_row_cell">
<div class="account_i_friends">




</div>
<div class="account_menu_link">
<a class="account_menu_link" href="/Account/Friends">Freunde</a></div>

</div>



<div class="account_category account_row_start">
<div class="account_i_invite">




</div>
<div class="account_menu_link">
<a class="account_menu_link" href="/Account/Invite">Lad' deine Freunde ein!</a></div>

</div>



<div class="account_category account_row_cell">
<div class="account_i_mailbox_new">




</div>
<div class="account_menu_link">
<a class="account_menu_link" href="/Account/Mailbox">Private Nachrichten (10)</a></div>

</div>


<div class="account_category account_row_cell">
<div class="account_i_notifications">




</div>
<div class="account_menu_link">
<a class="account_menu_link" href="/Account/Notifications">Benachrichtigungen</a></div>

</div>


<div class="account_category account_row_cell">
<div class="account_i_logout">




</div>
<div class="account_menu_link">
<a class="account_menu_link" href="/Account/LogOff">Abmelden</a></div>

</div>

</div>

