@{
    ViewBag.Title = "Settings";
}


 
<div id="content">
   
<h2>Einstellungen ändern</h2>
     @{Html.RenderPartial("../Shared/_LocationBar", ViewData);}


    @{
        
        Html.BeginForm("SaveSettings", "Account");
    }
<table class="normaltable">
@foreach (nfCMS_NET.CORE.Settings.nSetting Setting in new nfCMS_NET.CORE.Settings.UserSettings(new nfCMS_NET.MemberShip.nProvider.CurrentUser().nUser).listSettings("GENERICUSERSETTINGS",true)) { 

    <tr>
        <td>
        <b>@Setting.Label</b>
        <br />
        <i class="setting_description">
            @Setting.Description

        </i>
        

        </td>
        <td>

         @if (Setting.SettingType == new nfCMS_NET.CORE.Settings.nSettingType().SettingArray) {

             if (Setting.ValueType == new nfCMS_NET.CORE.Settings.nValueType().ValueArray) { 
             
             
                <select multiple="multiple" class="normal_settingSelect_multiple" name="@("setting_"+ Setting.Name)">

                   @foreach(nfCMS_NET.CORE.Settings.nSettingStoreItem Item in new nfCMS_NET.CORE.Settings.nSettingStore(Setting).getStore){
                   
                   
                   <option value="@Item.Value" id="@Item.ID">@Item.Label</option>
                   
                   
                   }

                    </select>

                
             
             
             
             }else{
             
             
             
                <select class="normal_settingSelect_single" name="@("setting_"+ Setting.Name)">

                   @foreach(nfCMS_NET.CORE.Settings.nSettingStoreItem Item in new nfCMS_NET.CORE.Settings.nSettingStore(Setting).getStore){
                   
                   if(Item.Value == Setting.Value.ToString()){
                   <option selected="selected" value="@Item.Value" id="@Item.ID">@Item.Label</option>
                   }
                   else{
                   
                     <option value="@Item.Value" id="@Item.ID">@Item.Label</option>
                 
                   }
                   }

                    </select>
             
             
             }
         
         
         
         }else{
         
         
         
         
         @Html.TextBox("setting_"+ Setting.Name,Setting.Value)
         
         
         }


        </td>



    </tr>






}

<tr><td colspan="2">@ViewBag.Error</td></tr>
<tr><td colspan="2" style="text-align:right">

     <input type="SUBMIT" class="btnOK" style="float:right" />

    </td></tr>

</table>
@{
    
    
    Html.EndForm();
    }

</div>